
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/list-doctors"><i class="fas fa-angle-double-left"></i> All doctors</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New doctor</h2>
            <span class="text-light">Use the below form to create a new Doctor</span>
        </div>

        <!-- add user form -->
        <%- include('include/_addDoctorForm') %>

    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
